
#draw-container {
  margin: 0 auto;
  background-color:  rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  box-sizing: border-box;
  width: 95%;
  height: 66%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

#canvas {
  width: 100%;
  height: 70%;
  background-color: white;
  border-radius:30px;
  box-sizing: border-box;

}

.controls_btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.controls_range{
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls_btns button:active {
  transform: scale(0.97);
}

.controls_colors {
  margin: 3% auto 0 auto;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;

}

.controls_colors .controls_color {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 1px;
}

.controls_colors .controls_color.active {
  box-shadow: 0 7px 11px rgb(224, 10, 231), 0 4px 7px rgb(42, 168, 90);
}